<div class="card card1" style="width: 17rem;">
    <img src="assets/images/2.jpg" class="card-img-top" alt="Nature">
    <div class="card-body">
      <h5 class="card-title">Cold Places</h5>
      <p class="card-text">India is hardly the first place to come to mind when one thinks about cold countries with snowfall or frostbite inducing temperatures.</p>
      <a href="https://theculturetrip.com/asia/india/articles/the-8-most-coldest-places-in-india/" class="btn btn-success">Go For More Info</a>
    </div>
</div>
<div class="card card2" style="width: 17rem;">
    <img src="assets/images/3.jpg" class="card-img-top" alt="Nature">
    <div class="card-body">
      <h5 class="card-title">IPhone Wallpaper</h5>
      <p class="card-text">Beautify your iPhone with a wallpaper from Unsplash. We've got the finest collection of iPhone wallpapers on the web, and you can</p>
      <a href="#" class="btn btn-success">Go For More Info</a>
    </div>
</div>
<div class="card card3" style="width: 17rem;">
    <img src="assets/images/4.jpg" class="card-img-top" alt="Nature">
    <div class="card-body">
      <h5 class="card-title">Forest</h5>
      <p class="card-text">A forest is a large area dominated by trees. Hundreds of more precise definitions of forest are used throughout the world, incorporating</p>
      <a href="#" class="btn btn-success">Go For More Info</a>
    </div>
</div>
<div class="card card4" style="width: 17rem;">
    <img src="assets/images/5.jpg" class="card-img-top" alt="Nature">
    <div class="card-body">
      <h5 class="card-title">Sea</h5>
      <p class="card-text">The sea is the interconnected system of all the Earth's oceanic waters, including the Atlantic, Pacific, Indian, Southern.</p>
      <a href="#" class="btn btn-success">Go For More Info</a>
    </div>
</div>