<br>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">Cricket</li>
        <li class="list-group-item">Football</li>
        <li class="list-group-item">Chess</li>
        <li class="list-group-item">Kabaddi</li>
        <li class="list-group-item">Hockey</li>
        <li class="list-group-item">Tennis</li>
        <li class="list-group-item">Boxing</li>
        <li class="list-group-item">Wresling</li>
        <li class="list-group-item">Archery</li>
        <li class="list-group-item">Cycling</li>
        <li class="list-group-item">Basketball</li>
      </ul>
</div>